{
  "openapi" : "3.0.3",
  "info" : {
    "version" : "1.0.0",
    "title" : "Cumulocity IoT OpenAPI",
    "description" : "# Introduction\nStandard OpenAPI specification, language-agnostic interface to the Cumulocity IoT RESTful API which allows – both humans and computers – to discover and understand the capabilities of the platform.\n\nCumulocity IoT uses HTTP and REST, which is today the most widely used interfacing technology and which works on any internet-connected device ranging from small embedded microcontrollers up to desktop PCs. The secure variant, HTTPS, is used for the most security critical applications and will give you the best possible security.\n\nRegardless the communication originates from IoT devices, web applications or from back-office IT systems, Cumulocity IoT employs the protocol REST for all external communication. Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication and verbs.\n### **Just Getting Started?**\nCumulocity IoT exposes its complete functionality through programming interfaces; this means that all of Cumulocity IoT’s functionality is available for you to use in different contexts outside of what the platform directly provides - in your own applications, in your own devices. Cumulocity IoT gives you very fast visibility and control over your remote assets, be these houses, cars, machines or any other assets that you want to manage. Check out <a href=\"https://cumulocity.com/guides/concepts/introduction/\" target=\"_new\">our online guides</a> to learn more about the platform.\n# Authentication\n",
    "contact" : {
      "email" : "support@cumulocity.com"
    },
    "license" : {
      "name" : "Software AG Legal Notices",
      "url" : "https://cumulocity.com/guides/about-doc/legal/"
    }
  },
  "externalDocs" : {
    "description" : "Cumulocity IoT Guides",
    "url" : "https://cumulocity.com/guides/about-doc/intro-documentation/"
  },
  "servers" : [ {
    "description" : "Cumulocity IoT Production Server",
    "url" : "https://api.cumulocity.com/"
  }, {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://virtserver.swaggerhub.com/manasesjesus/c8y_openapi/1.0.0"
  }, {
    "description" : "Cumulocity IoT - test",
    "url" : "https://glenn.cumulocity.com"
  } ],
  "tags" : [ {
    "name" : "Managed Object",
    "description" : "The managed object resource represents individual managed objects that can be queried and deleted.\n"
  } ],
  "x-tagGroups" : [ {
    "name" : "Inventory",
    "tags" : [ "Managed Object", "Device Group" ]
  } ],
  "paths" : {
    "/inventory/managedObjects/{id}" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/managedObjectId"
      } ],
      "get" : {
        "tags" : [ "Managed Object" ],
        "summary" : "Get a specific managed object",
        "operationId" : "ManagedObjectResource",
        "description" : "Get a specific managed object (e.g. device, group, template) by a given ID.\n",
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/vnd.com.nsn.cumulocity.managedobject+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InventoryItem"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "bad input parameter",
            "content" : {
              "application/vnd.com.nsn.cumulocity.error+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/inventoryNotFound"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "parameters" : {
      "managedObjectId" : {
        "name" : "id",
        "in" : "path",
        "description" : "Unique identifier of the object, automatically allocated when the object is created.\n",
        "required" : true,
        "schema" : {
          "type" : "string",
          "minLength" : 1,
          "example" : 1994
        }
      }
    },
    "schemas" : {
      "inventoryNotFound" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "type" : "string",
            "example" : "inventory/Not Found"
          },
          "message" : {
            "type" : "string",
            "example" : "Finding device data from database failed : No managedObject for {id}!"
          },
          "info" : {
            "type" : "string",
            "example" : "https://www.cumulocity.com/guides/reference-guide/#error_reporting"
          }
        }
      },
      "InventoryItem" : {
        "type" : "object",
        "required" : [ "id", "name", "manufacturer", "releaseDate" ],
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "name" : {
            "type" : "string",
            "example" : "Widget Adapter"
          },
          "releaseDate" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2016-08-29T09:12:33.001Z"
          }
        }
      }
    }
  }
}