{
  "openapi" : "3.0.3",
  "info" : {
    "version" : "1.0.0",
    "title" : "Cumulocity IoT OpenAPI",
    "description" : "# Introduction\nStandard OpenAPI specification, language-agnostic interface to the Cumulocity IoT RESTful API which allows – both humans and computers – to discover and understand the capabilities of the platform.\n\nCumulocity IoT uses HTTP and REST, which is today the most widely used interfacing technology and which works on any internet-connected device ranging from small embedded microcontrollers up to desktop PCs. The secure variant, HTTPS, is used for the most security critical applications and will give you the best possible security.\n\nRegardless the communication originates from IoT devices, web applications or from back-office IT systems, Cumulocity IoT employs the protocol REST for all external communication. Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication and verbs.\n### **Just Getting Started?**\nCumulocity IoT exposes its complete functionality through programming interfaces; this means that all of Cumulocity IoT’s functionality is available for you to use in different contexts outside of what the platform directly provides - in your own applications, in your own devices. Cumulocity IoT gives you very fast visibility and control over your remote assets, be these houses, cars, machines or any other assets that you want to manage. \n\nCheck out <a href=\"https://cumulocity.com/guides/concepts/introduction/\" target=\"_new\">our online guides</a> to learn more about the platform.\n# Authentication\nWhen you sign up for an account on the [Cumulocity IoT platform](https://cumulocity.com/), for example by using a free trial, you will be provided with a dedicated URL address for your tenant. All requests to the platform have to be authenticated employing your tenant ID, Cumulocity IoT user (c8yuser for short) and password. Cumulocity IoT offers the following forms of authentication:\n<ul><li>Basic authentication</li> <li>JWT token authentication</li> <li>OAuth authentication code grant</li></ul>\n\nCumulocity IoT also supports two factor authentication. For more details, see [Authentication](https://cumulocity.com/guides/reference/rest-implementation/#authentication) in the Reference Guide.\n# Errors\nCumulocity IoT uses conventional HTTP response codes to indicate the success or failure of an API request. Codes in the `2xx` range indicate success. Codes in the `4xx` range indicate an error that failed given the information provided (e.g., a required parameter was omitted). Codes in the `5xx` range indicate an error with Cumulocity IoT's servers ([these are very rare](https://www.softwareag.cloud/site/sla/cumulocity-iot.html#/)).\n<table>\n  <caption>HTTP STATUS CODE SUMMARY</caption>\n  <tr><th>Code</th><th>Description</th></tr>\n  <tr><td>200 - OK</td><td>Everything worked as expected.</td></tr>\n  <tr><td>400 - Bad Request</td><td>The request was unacceptable, often due to missing a required parameter.</td></tr>\n  <tr><td>401 - Unauthorized</td><td>Authentication has failed, or credentials were required but not provided..</td></tr>\n  <tr><td>403 - Forbidden</td><td>The authenticated user doesn't have permissions to perform the request.</td></tr>\n  <tr><td>404 - Not Found</td><td>The requested resource doesn't exist.</td></tr>\n  <tr><td>405 - Method not allowed</td><td>The employed HTTP method cannot be used on this resource (e.g., using POST on a read-only resource).</td></tr>\n  <tr><td>500, 503 - Server Errors</td><td>Something went wrong on Cumulocity IoT's end.</td></tr>\n</table>\n\nAll error codes and their interpretations can be found in [Error reporting](https://cumulocity.com/guides/reference/rest-implementation/#a-name-error-reporting-a-error-reporting) in the Reference guide.\n",
    "contact" : {
      "name" : "Cumulocity IoT",
      "url" : "https://www.cumulocity.com",
      "email" : "support@cumulocity.com"
    },
    "license" : {
      "name" : "Software AG Legal Notices",
      "url" : "https://cumulocity.com/guides/about-doc/legal/"
    }
  },
  "externalDocs" : {
    "description" : "Cumulocity IoT Guides",
    "url" : "https://cumulocity.com/guides/about-doc/intro-documentation/"
  },
  "servers" : [ {
    "description" : "Cumulocity IoT - test server",
    "url" : "https://glenn.cumulocity.com"
  }, {
    "description" : "Cumulocity IoT - test server",
    "url" : "https://aaron.cumulocity.com/"
  }, {
    "description" : "Cumulocity IoT Production Server",
    "url" : "https://api.cumulocity.com/"
  }, {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://virtserver.swaggerhub.com/manasesjesus/c8y_openapi/1.0.0"
  } ],
  "security" : [ {
    "BasicAuthentication" : [ ]
  }, {
    "JWTAuthentication" : [ ]
  } ],
  "tags" : [ {
    "name" : "Managed Object",
    "description" : "The managed object resource represents individual managed objects that can be queried and deleted.\n"
  } ],
  "x-tagGroups" : [ {
    "name" : "Inventory",
    "tags" : [ "Managed Object", "Device Group" ]
  } ],
  "paths" : {
    "/inventory/managedObjects/{id}" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/managedObjectId"
      } ],
      "get" : {
        "tags" : [ "Managed Object" ],
        "security" : [ {
          "BasicAuthentication" : [ ]
        } ],
        "summary" : "Get a specific managed object",
        "operationId" : "ManagedObjectResource",
        "description" : "Get a specific managed object (e.g. device, group, template) by a given ID.\n\n**Pre-autorization:**\n\nRequired roles: ROLE_INVENTORY_READ\n",
        "responses" : {
          "200" : {
            "description" : "search results matching criteria",
            "content" : {
              "application/vnd.com.nsn.cumulocity.managedobject+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InventoryItem"
                  }
                }
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorizedError"
          },
          "404" : {
            "$ref" : "#/components/responses/inventoryObjectNotFound"
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "BasicAuthentication" : {
        "description" : "The authorization header is formed as `Basic <Base64(<tenantID>/<c8yuser>:<password>)>`. For instance, if your tenantID, username and password are **t0071234**, **testuser** and **secret123** respectively, you can get the Base64 string with the following command:\n\n  ```shell\n  $ echo -n t0071234/testuser:secret123 | base64\n  ```\n\n  and your authorization header would look like\n  \n  ```\n  \"Authorization\": \"Basic dDAwNzEyMzQvdGVzdHVzZXI6c2VjcmV0MTIz\" \n  ```\n  \n  On UI interfaces, your username name shall be plain text in the format `<tenantID>/<c8yuser>`. \n  \n",
        "type" : "http",
        "scheme" : "basic"
      },
      "JWTAuthentication" : {
        "description" : "Cumulocity IoT supports JWT token authentication. The HTTP header must include:\n```\n  \"Authorization\": \"Bearer <<Base64 encoded JWT token>>\"\n```\nThe JWT token must be signed using RSA signature with SHA-256 (RS256). \nThe minimal RSA key size is 512 bit. \nYou must upload your public key to the tenant options on the “token.publicKey” category.\n",
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    },
    "parameters" : {
      "managedObjectId" : {
        "name" : "id",
        "in" : "path",
        "description" : "Unique identifier of the object, automatically allocated when the object is created.\n",
        "required" : true,
        "schema" : {
          "type" : "string",
          "minLength" : 1,
          "example" : 51994
        }
      }
    },
    "responses" : {
      "unauthorizedError" : {
        "description" : "Authentication information is missing or invalid",
        "content" : {
          "application/vnd.com.nsn.cumulocity.error+json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "error" : {
                  "description" : "The type of error returned.",
                  "type" : "string",
                  "example" : "security/Unauthorized"
                },
                "message" : {
                  "description" : "A human-readable message providing more details about the error.",
                  "type" : "string",
                  "example" : "Invalid credentials! : Bad credentials"
                },
                "info" : {
                  "description" : "A URL to more information about the error code reported.",
                  "type" : "string",
                  "example" : "https://www.cumulocity.com/guides/reference-guide/#error_reporting"
                }
              }
            }
          }
        },
        "headers" : {
          "WWW_Authenticate" : {
            "description" : "Sent along with a 401 Unauthorized response",
            "schema" : {
              "type" : "string"
            }
          }
        }
      },
      "inventoryObjectNotFound" : {
        "description" : "Managed object not found",
        "content" : {
          "application/vnd.com.nsn.cumulocity.error+json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "error" : {
                  "type" : "string",
                  "example" : "inventory/Not Found"
                },
                "message" : {
                  "type" : "string",
                  "example" : "Finding device data from database failed"
                },
                "info" : {
                  "type" : "string",
                  "example" : "https://www.cumulocity.com/guides/reference-guide/#error_reporting"
                }
              }
            }
          }
        }
      }
    },
    "schemas" : {
      "InventoryItem" : {
        "type" : "object",
        "required" : [ "id", "name", "manufacturer", "releaseDate" ],
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "example" : "d290f1ee-6c54-4b01-90e6"
          },
          "name" : {
            "type" : "string",
            "example" : "Widget Adapter"
          },
          "releaseDate" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2016-08-29T09:12:33.001Z"
          }
        }
      }
    }
  }
}