{
  "openapi" : "3.0.3",
  "info" : {
    "version" : "1.0.0",
    "title" : "Cumulocity IoT OpenAPI",
    "description" : "# Introduction\nStandard OpenAPI specification, language-agnostic interface to the Cumulocity IoT RESTful API which allows – both humans and computers – to discover and understand the capabilities of the platform.\n\nCumulocity IoT uses HTTP and REST, which is today the most widely used interfacing technology and which works on any internet-connected device ranging from small embedded microcontrollers up to desktop PCs. The secure variant, HTTPS, is used for the most security critical applications and will give you the best possible security.\n\nRegardless the communication originates from IoT devices, web applications or from back-office IT systems, Cumulocity IoT employs the protocol REST for all external communication. Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication and verbs.\n### **Just Getting Started?**\nCumulocity IoT exposes its complete functionality through programming interfaces; this means that all of Cumulocity IoT’s functionality is available for you to use in different contexts outside of what the platform directly provides - in your own applications, in your own devices. Cumulocity IoT gives you very fast visibility and control over your remote assets, be these houses, cars, machines or any other assets that you want to manage. \n\nCheck out <a href=\"https://cumulocity.com/guides/concepts/introduction/\" target=\"_new\">our online guides</a> to learn more about the platform.\n# Authentication\nWhen you sign up for an account on the [Cumulocity IoT platform](https://cumulocity.com/), for example by using a free trial, you will be provided with a dedicated URL address for your tenant. All requests to the platform have to be authenticated employing your tenant ID, Cumulocity IoT user (c8yuser for short) and password. Cumulocity IoT offers the following forms of authentication:\n<ul><li>Basic authentication</li> <li>JWT token authentication</li> <li>OAuth authentication code grant</li></ul>\n\nCumulocity IoT also supports two factor authentication. For more details, see [Authentication](https://cumulocity.com/guides/reference/rest-implementation/#authentication) in the Reference Guide.\n# Errors\nCumulocity IoT uses conventional HTTP response codes to indicate the success or failure of an API request. Codes in the `2xx` range indicate success. Codes in the `4xx` range indicate an error that failed given the information provided (e.g., a required parameter was omitted). Codes in the `5xx` range indicate an error with Cumulocity IoT's servers ([these are very rare](https://www.softwareag.cloud/site/sla/cumulocity-iot.html#/)).\n<table>\n  <caption>HTTP STATUS CODE SUMMARY</caption>\n  <tr><th>Code</th><th>Description</th></tr>\n  <tr><td>200 - OK</td><td>Everything worked as expected.</td></tr>\n  <tr><td>400 - Bad Request</td><td>The request was unacceptable, often due to missing a required parameter.</td></tr>\n  <tr><td>401 - Unauthorized</td><td>Authentication has failed, or credentials were required but not provided..</td></tr>\n  <tr><td>403 - Forbidden</td><td>The authenticated user doesn't have permissions to perform the request.</td></tr>\n  <tr><td>404 - Not Found</td><td>The requested resource doesn't exist.</td></tr>\n  <tr><td>405 - Method not allowed</td><td>The employed HTTP method cannot be used on this resource (e.g., using POST on a read-only resource).</td></tr>\n  <tr><td>422 - Invalid data</td><td>Invalid data was sent on the request and/or a query could not be understood.</td></tr>\n  <tr><td>500, 503 - Server Errors</td><td>Something went wrong on Cumulocity IoT's end.</td></tr>\n</table>\n\nAll error codes and their interpretations can be found in [Error reporting](https://cumulocity.com/guides/reference/rest-implementation/#a-name-error-reporting-a-error-reporting) in the Reference guide.\n",
    "contact" : {
      "name" : "Cumulocity IoT",
      "url" : "https://www.cumulocity.com",
      "email" : "support@cumulocity.com"
    },
    "license" : {
      "name" : "Software AG Legal Notices",
      "url" : "https://cumulocity.com/guides/about-doc/legal/"
    }
  },
  "externalDocs" : {
    "description" : "Cumulocity IoT Guides",
    "url" : "https://cumulocity.com/guides/about-doc/intro-documentation/"
  },
  "servers" : [ {
    "description" : "Cumulocity IoT - test server",
    "url" : "https://glenn.cumulocity.com"
  }, {
    "description" : "Cumulocity IoT - test server",
    "url" : "https://aaron.cumulocity.com/"
  }, {
    "description" : "Cumulocity IoT Production Server",
    "url" : "https://api.cumulocity.com/"
  }, {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://virtserver.swaggerhub.com/manasesjesus/c8y_openapi/1.0.0"
  } ],
  "security" : [ {
    "BasicAuthentication" : [ ]
  }, {
    "JWTAuthentication" : [ ]
  } ],
  "tags" : [ {
    "name" : "Managed Objects",
    "description" : "The inventory stores devices and other assets relevant to your IoT solution. We refer to them as managed objects.\n"
  } ],
  "x-tagGroups" : [ {
    "name" : "Inventory",
    "tags" : [ "Managed Objects", "Device Group" ]
  } ],
  "paths" : {
    "/inventory/managedObjects" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/queryParam_currentPage"
      }, {
        "$ref" : "#/components/parameters/queryParam_fragmentType"
      }, {
        "$ref" : "#/components/parameters/queryParam_pageSize"
      }, {
        "$ref" : "#/components/parameters/queryParam_query"
      }, {
        "$ref" : "#/components/parameters/queryParam_withTotalPages"
      } ],
      "get" : {
        "tags" : [ "Managed Objects" ],
        "security" : [ {
          "BasicAuthentication" : [ ]
        } ],
        "summary" : "Get all managed objects",
        "operationId" : "getManagedObjects",
        "description" : "Get all managed objects (e.g. devices, assets, etc.) registered in your tenant.<br><br> **Request body schema:** None<br> **Required roles:** ROLE_INVENTORY_READ\n",
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/res_inventoryObjectCollectionFound"
          },
          "401" : {
            "$ref" : "#/components/responses/res_unauthorizedError"
          },
          "422" : {
            "$ref" : "#/components/responses/res_invalidData"
          }
        }
      }
    },
    "/inventory/managedObjects/count" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/queryParam_fragmentType"
      }, {
        "$ref" : "#/components/parameters/queryParam_query"
      } ],
      "get" : {
        "tags" : [ "Managed Objects" ],
        "security" : [ {
          "BasicAuthentication" : [ ]
        } ],
        "summary" : "Get the total number of managed objects",
        "operationId" : "getManagedObjectsCount",
        "description" : "Get the total number of managed objects (e.g. devices, assets, etc.) registered in your tenant.<br><br> **Request body schema:** None<br> **Required roles:** ROLE_INVENTORY_READ\n",
        "responses" : {
          "200" : {
            "description" : "The request has succeeded and the total number of managed objects is sent in the response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Total number of managed objects registered in your tenant.",
                  "type" : "number",
                  "minimum" : 0,
                  "example" : 38
                }
              },
              "text/plain" : {
                "schema" : {
                  "description" : "Total number of managed objects registered in your tenant.",
                  "type" : "string",
                  "minLength" : 0,
                  "example" : 38
                }
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/res_unauthorizedError"
          },
          "422" : {
            "$ref" : "#/components/responses/res_invalidData"
          }
        }
      }
    },
    "/inventory/managedObjects/{id}" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/managedObjectId"
      } ],
      "get" : {
        "tags" : [ "Managed Objects" ],
        "security" : [ {
          "BasicAuthentication" : [ ]
        } ],
        "summary" : "Get a specific managed object",
        "operationId" : "getManagedObjectById",
        "description" : "Get a specific managed object (e.g. device, group, template) by a given ID.<br><br> **Request body schema:** None<br> **Required roles:** ROLE_INVENTORY_READ\n",
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/res_inventoryObjectFound"
          },
          "401" : {
            "$ref" : "#/components/responses/res_unauthorizedError"
          },
          "404" : {
            "$ref" : "#/components/responses/res_inventoryObjectNotFound"
          }
        }
      }
    },
    "/inventory/managedObjects/{id}/supportedMeasurements" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/managedObjectId"
      }, {
        "$ref" : "#/components/parameters/queryParam_currentPage"
      }, {
        "$ref" : "#/components/parameters/queryParam_pageSize"
      }, {
        "$ref" : "#/components/parameters/queryParam_query"
      }, {
        "$ref" : "#/components/parameters/queryParam_withTotalPages"
      } ],
      "get" : {
        "tags" : [ "Managed Objects" ],
        "security" : [ {
          "BasicAuthentication" : [ ]
        } ],
        "summary" : "Get all measurements of a specific managed object",
        "operationId" : "getManagedObjectSupportedMeasurements",
        "description" : "Get all supported measurements of a specific managed object by a given ID.<br><br> **Request body schema:** None<br> **Required roles:** ROLE_INVENTORY_READ\n",
        "responses" : {
          "200" : {
            "description" : "The request has succeeded and all supported measurements are sent in the response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "c8y_SupportedMeasurements" : {
                      "description" : "An array containing all supported measurements of the specified device.",
                      "type" : "array",
                      "items" : { },
                      "example" : [ "c8y_MemoryMeasurement", "c8y_CPUMeasurement" ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/res_unauthorizedError"
          },
          "404" : {
            "$ref" : "#/components/responses/res_inventoryObjectNotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/res_invalidData"
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "BasicAuthentication" : {
        "description" : "The authorization header is formed as `Basic <Base64(<tenantID>/<c8yuser>:<password>)>`. For instance, if your tenantID, username and password are **t0071234**, **testuser** and **secret123** respectively, you can get the Base64 string with the following command:\n\n  ```shell\n  $ echo -n t0071234/testuser:secret123 | base64\n  ```\n\n  and your authorization header would look like\n  \n  ```\n  \"Authorization\": \"Basic dDAwNzEyMzQvdGVzdHVzZXI6c2VjcmV0MTIz\" \n  ```\n  \n  On UI interfaces, your username name shall be plain text in the format `<tenantID>/<c8yuser>`. \n  \n",
        "type" : "http",
        "scheme" : "basic"
      },
      "JWTAuthentication" : {
        "description" : "Cumulocity IoT supports JWT token authentication. The HTTP header must include:\n```\n  \"Authorization\": \"Bearer <<Base64 encoded JWT token>>\"\n```\nThe JWT token must be signed using RSA signature with SHA-256 (RS256). \nThe minimal RSA key size is 512 bit. \nYou must upload your public key to the tenant options on the “token.publicKey” category.\n",
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    },
    "parameters" : {
      "managedObjectId" : {
        "name" : "id",
        "in" : "path",
        "description" : "Unique identifier of the object.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "minLength" : 1,
          "example" : 51994
        }
      },
      "queryParam_currentPage" : {
        "name" : "currentPage",
        "in" : "query",
        "description" : "The current page of the paginated results.",
        "schema" : {
          "type" : "number",
          "minimum" : 1,
          "default" : 1,
          "example" : 3
        }
      },
      "queryParam_fragmentType" : {
        "name" : "fragmentType",
        "in" : "query",
        "description" : "A characteristic which identifies a managed object, e.g. geolocation, electricity sensor, relay state.",
        "schema" : {
          "type" : "string",
          "minLength" : 1,
          "example" : "c8y_IsDevice"
        }
      },
      "queryParam_pageSize" : {
        "name" : "pageSize",
        "in" : "query",
        "description" : "Indicates how many entries of the collection shall be returned. The upper limit for one page is 2,000 objects.",
        "schema" : {
          "type" : "number",
          "minimum" : 1,
          "maximum" : 2000,
          "default" : 5,
          "example" : 10
        }
      },
      "queryParam_query" : {
        "name" : "query",
        "in" : "query",
        "description" : "Use query language to perform operations and/or filter the results. Details about the properties and supported operations can be found in [Query language](https://cumulocity.com/guides/reference/inventory/#query-language) on the Reference guide.\n",
        "schema" : {
          "type" : "string",
          "minLength" : 1,
          "example" : "$filter=(owner+eq+'manga')"
        }
      },
      "queryParam_withTotalPages" : {
        "name" : "withTotalPages",
        "in" : "query",
        "description" : "When set to true, the returned result will contain in the statistics object the total number of pages (at the expense of slightly slower performance).",
        "schema" : {
          "type" : "boolean",
          "default" : false,
          "example" : true
        }
      }
    },
    "responses" : {
      "res_unauthorizedError" : {
        "description" : "Authentication information is missing or invalid.",
        "content" : {
          "application/vnd.com.nsn.cumulocity.error+json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "error" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_40XError"
                  }, {
                    "example" : "security/Unauthorized"
                  } ]
                },
                "message" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_40XMessage"
                  }, {
                    "example" : "Invalid credentials! : Bad credentials"
                  } ]
                },
                "info" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_40XInfo"
                  }, {
                    "example" : "https://www.cumulocity.com/guides/reference-guide/#error_reporting"
                  } ]
                }
              }
            }
          }
        }
      },
      "res_inventoryObjectNotFound" : {
        "description" : "Managed object not found.",
        "content" : {
          "application/vnd.com.nsn.cumulocity.error+json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "error" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_40XError"
                  }, {
                    "example" : "inventory/Not Found"
                  } ]
                },
                "message" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_40XMessage"
                  }, {
                    "example" : "Finding device data from database failed"
                  } ]
                },
                "info" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_40XInfo"
                  }, {
                    "example" : "https://www.cumulocity.com/guides/reference-guide/#error_reporting"
                  } ]
                }
              }
            }
          }
        }
      },
      "res_invalidData" : {
        "description" : "Invalid data was sent.",
        "content" : {
          "application/vnd.com.nsn.cumulocity.error+json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "error" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_40XError"
                  }, {
                    "example" : "inventory/Invalid Data"
                  } ]
                },
                "message" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_40XMessage"
                  }, {
                    "example" : "Find by filter query failed : Query could not be understood."
                  } ]
                },
                "info" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_40XInfo"
                  }, {
                    "example" : "https://www.cumulocity.com/guides/reference-guide/#error_reporting"
                  } ]
                }
              }
            }
          }
        }
      },
      "res_inventoryObjectFound" : {
        "description" : "The request has succeeded and the object is sent in the response.",
        "content" : {
          "application/vnd.com.nsn.cumulocity.managedobject+json" : {
            "schema" : {
              "$ref" : "#/components/schemas/schemaResponseObject"
            }
          }
        }
      },
      "res_inventoryObjectCollectionFound" : {
        "description" : "The request has succeeded and the collection of objects is sent in the response.",
        "content" : {
          "application/vnd.com.nsn.cumulocity.managedobjectcollection+json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "prev" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_prevPage"
                  }, {
                    "example" : "PROTOCOL://TENANT_DOMAIN/inventory/managedObjects?pageSize=5&currentPage=1"
                  } ]
                },
                "self" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_objectSelf"
                  }, {
                    "example" : "PROTOCOL://TENANT_DOMAIN/inventory/managedObjects?pageSize=5&currentPage=2"
                  } ]
                },
                "next" : {
                  "allOf" : [ {
                    "$ref" : "#/components/x-descriptions/desc_nextPage"
                  }, {
                    "example" : "PROTOCOL://TENANT_DOMAIN/inventory/managedObjects?pageSize=5&currentPage=3"
                  } ]
                },
                "statistics" : {
                  "description" : "Information about paging statistics.",
                  "type" : "object",
                  "properties" : {
                    "totalPages" : {
                      "description" : "The total number of pages.",
                      "type" : "number",
                      "minimum" : 1,
                      "example" : 3
                    },
                    "currentPage" : {
                      "description" : "The current page of the paginated results.",
                      "type" : "number",
                      "minimum" : 1,
                      "example" : 2
                    },
                    "pageSize" : {
                      "description" : "Indicates the number of objects that the collection may contain.",
                      "type" : "number",
                      "minimum" : 1,
                      "maximum" : 2000,
                      "example" : 5
                    }
                  }
                },
                "managedObjects" : {
                  "description" : "A ManagedObjectCollection array containing the results (managed objects) of the request.",
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/schemaResponseObject"
                  }
                }
              }
            }
          }
        }
      }
    },
    "x-descriptions" : {
      "desc_40XError" : {
        "description" : "The type of error returned.",
        "type" : "string"
      },
      "desc_40XMessage" : {
        "description" : "A human-readable message providing more details about the error.",
        "type" : "string"
      },
      "desc_40XInfo" : {
        "description" : "A URI reference [[RFC3986](https://tools.ietf.org/html/rfc3986)] that identifies the error code reported.",
        "type" : "string"
      },
      "desc_objectId" : {
        "description" : "Unique identifier of the object.",
        "type" : "string"
      },
      "desc_objectSelf" : {
        "description" : "Link to this resource.",
        "type" : "string"
      },
      "desc_objectName" : {
        "description" : "Human-readable name that is used for representing the object in user interfaces.",
        "type" : "string"
      },
      "desc_objectCreationTime" : {
        "description" : "The date and time when the object was created.",
        "type" : "string",
        "format" : "date-time"
      },
      "desc_objectLastUpdated" : {
        "description" : "The date and time when the object was updated for the last time.",
        "type" : "string",
        "format" : "date-time"
      },
      "desc_objectC8y_IsDevice" : {
        "description" : "Marks devices that can be managed using Cumulocity IoT’s Device Management application.",
        "type" : "object"
      },
      "desc_prevPage" : {
        "description" : "A URI reference [[RFC3986](https://tools.ietf.org/html/rfc3986)] to a potential previous page of managed objects.",
        "type" : "string"
      },
      "desc_nextPage" : {
        "description" : "A URI reference [[RFC3986](https://tools.ietf.org/html/rfc3986)] to a potential next page of managed objects.",
        "type" : "string"
      }
    },
    "schemas" : {
      "schemaResponseObject" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "allOf" : [ {
              "$ref" : "#/components/x-descriptions/desc_objectId"
            }, {
              "example" : 51994
            } ]
          },
          "self" : {
            "allOf" : [ {
              "$ref" : "#/components/x-descriptions/desc_objectSelf"
            }, {
              "example" : "PROTOCOL://TENANT_DOMAIN/inventory/managedObjects/{id}"
            } ]
          },
          "name" : {
            "allOf" : [ {
              "$ref" : "#/components/x-descriptions/desc_objectName"
            }, {
              "example" : "My tracking device"
            } ]
          },
          "creationTime" : {
            "allOf" : [ {
              "$ref" : "#/components/x-descriptions/desc_objectCreationTime"
            }, {
              "example" : "2017-12-12T22:09:06.881+01:00"
            } ]
          },
          "lastUpdated" : {
            "allOf" : [ {
              "$ref" : "#/components/x-descriptions/desc_objectLastUpdated"
            }, {
              "example" : "2018-07-19T12:01:50.731Z"
            } ]
          },
          "c8y_IsDevice" : {
            "allOf" : [ {
              "$ref" : "#/components/x-descriptions/desc_objectC8y_IsDevice"
            }, {
              "example" : { }
            } ]
          },
          "childDevices" : {
            "$ref" : "#/components/schemas/schemaObjectChildDevices"
          },
          "childAdditions" : {
            "$ref" : "#/components/schemas/schemaObjectChildAdditions"
          },
          "childAssets" : {
            "$ref" : "#/components/schemas/schemaObjectChildAssets"
          },
          "deviceParents" : {
            "$ref" : "#/components/schemas/schemaObjectDeviceParents"
          },
          "assetParents" : {
            "$ref" : "#/components/schemas/schemaObjectAssetParents"
          }
        }
      },
      "schemaObjectChildDevices" : {
        "description" : "A collection of references to child devices.",
        "type" : "object",
        "properties" : {
          "self" : {
            "description" : "Link to this resource's child devices.",
            "type" : "string",
            "example" : "PROTOCOL://TENANT_DOMAIN/inventory/managedObjects/{id}/childDevices"
          },
          "references" : {
            "description" : "An array with the references to child devices.",
            "type" : "array",
            "items" : { },
            "example" : [ ]
          }
        }
      },
      "schemaObjectChildAdditions" : {
        "description" : "A collection of references to child additions.",
        "type" : "object",
        "properties" : {
          "self" : {
            "description" : "Link to this resource's child additions.",
            "type" : "string",
            "example" : "PROTOCOL://TENANT_DOMAIN/inventory/managedObjects/{id}/childAdditions"
          },
          "references" : {
            "description" : "An array with the references to child devices.",
            "type" : "array",
            "items" : { },
            "example" : [ ]
          }
        }
      },
      "schemaObjectChildAssets" : {
        "description" : "A collection of references to child assets.",
        "type" : "object",
        "properties" : {
          "self" : {
            "description" : "Link to this resource's child assets.",
            "type" : "string",
            "example" : "PROTOCOL://TENANT_DOMAIN/inventory/managedObjects/{id}/childAssets"
          },
          "references" : {
            "description" : "An array with the references to child assets.",
            "type" : "array",
            "items" : { },
            "example" : [ ]
          }
        }
      },
      "schemaObjectDeviceParents" : {
        "description" : "A collection of references to device parent objects.",
        "type" : "object",
        "properties" : {
          "self" : {
            "description" : "Link to this resource's parent objects.",
            "type" : "string",
            "example" : "PROTOCOL://TENANT_DOMAIN/inventory/managedObjects/{id}/deviceParents"
          },
          "references" : {
            "description" : "An array with the references to parent objects.",
            "type" : "array",
            "items" : { },
            "example" : [ ]
          }
        }
      },
      "schemaObjectAssetParents" : {
        "description" : "A collection of references to asset parent objects.",
        "type" : "object",
        "properties" : {
          "self" : {
            "description" : "Link to this resource's asset parent objects.",
            "type" : "string",
            "example" : "PROTOCOL://TENANT_DOMAIN/inventory/managedObjects/{id}/assetParents"
          },
          "references" : {
            "description" : "An array with the references to asset parent objects.",
            "type" : "array",
            "items" : { },
            "example" : [ ]
          }
        }
      }
    }
  }
}